.button {
  width: 120px;
}

.card {
  background: #1976d2;
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  outline: none;
  text-decoration: none;
}

.label {
  font-weight: 700;
  color: white;
}
